.fac-institutional-work-with-us {
    font-family: "Montserrat", sans-serif !important;
    min-width: 360px;
    background-color: #FFFFFF;
}

.fac-institutional-work-with-us * {
    box-sizing: border-box;
}

.fac-shell {
    max-width: 100%;
    margin: 0 10px 30px;
}

.fac-institutional-shell {
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.fac-institutional-shell--benefits {
    padding: 0 5px 10px;
    background-color: #F5F6F7;
    border-radius: 10px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.fac-institutional-shell--jobs {
    flex-wrap: wrap;
}

.fac-institutional-text-box {
    text-align: center;
}

.fac-institutional-text-box h3 {
    font-size: 1.5em;
}

.fac-institutional-text-box h3,
.fac-institutional-text-box h4,
.fac-institutional-text-box h5 {
    margin: 0.85em 0;
    font-weight: 600;
    color: #E41021;
}

.fac-institutional-text-box h4 {
    margin: 0.85em 0;
    font-weight: 600;
    font-size: 1.3em;
}

.fac-institutional-text-box p {
    color: #63070F;
}

.fac-institutional-text-box__text-banner {
    font-size: 2em;
    font-weight: 600;
    margin: 0.1em 0;
    padding: 0.3em;
    color: #E41021;
    background: #F5F6F7;
    border-radius: 5px;
}

.fac-institutional-img-box img {
    height: auto;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 500px;
    border-top-right-radius: 25px;
    border-top-left-radius: 200px;
}

.fac-institutional-img-box:nth-child(2) img {
    height: auto;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 200px;
    border-top-left-radius: 25px;
}

.fac-institutional-box--2col {
    width: 50%;
}

.fac-institutional-box--2col img {
    width: 100%
}

.fac-institutional-box--4col {
    width: 30%;
}

.fac-jobs-box {
    padding: 10px;
    border-radius: 5px;
    background: #E41021;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500
}

.fac-jobs-box:hover {
    background: #FA2305;
    color: #FFFFFF;
}

.fac-jobs-box--no-positions {
    background: #CCCCCC;
    color: #E41021;
}

.fac-jobs-box--no-positions:hover {
    background: #CCCCCC;
    color: #E41021;
    cursor: not-allowed;
}

@media (max-width: 550px) {
    h2.fac-institutional-text-box__text-banner {
        font-size: 2em;
    }
}

@media (max-width: 499px) {
    .fac-institutional-shell {
        flex-flow: column;
        gap: 10px;
    }

    .fac-institutional-box--2col {
        width: 100%;
    }
    
    .fac-shell .fac-institutional-shell--adm {
        flex-direction: column-reverse;
    }
    
    .fac-institutional-shell--benefits .fac-institutional-box--4col {
        width: 100%;
    }
    
    .fac-jobs-box {
        width: 100%;
        text-align: center;
        word-break: break-word;
        word-wrap: break-word;
    }
}
