* {
    box-sizing: border-box;
}

body {
    background-color: #f5f6f8;
}

@media (max-width: 767px) {
    body {
        min-width: 360px;
    }
}

.load, .loading {
    display: none;
}

main {
    padding-top: 96px;
}

li a {
    font-family: "Montserrat";
    text-decoration: none;
    color: inherit;
  }

textarea:focus,
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.fac-footer {
    font-family: "Montserrat";
    text-decoration: none;
    display: flex;
    flex-flow: wrap;
    text-align: center;
    margin: 30px 10px 0px 10px;
    gap: 30px;
    padding-bottom: 140px;
}

.fac-footer-block {
    display: flex;
    flex-flow: column;
    gap: 30px;
    width: 100%;
}

.fac-footer-block__box {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 15px;
    background-color: #e41021;
    color: #ffffff;
    border-radius: 10px;
    padding: 30px;
}

.fac-footer__text__title {
    font-weight: bolder;
    margin: 0;
}

.fac-footer-block__box__mult-content {
    display: flex;
    flex-flow: column;
    gap: 10px;
    width: 100%;
}

.subscribe__field {
    border: none;
    padding: 10px 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box;
}

.subscribe__btn {
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #058f49;
    color: #ffffff;
    width: 100%;
}

.box__mult-content__content {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.box__mult-content__media {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.pgt-media__img--lg {
    height: 38px;
    max-width: 55%;
}

.pgt-media__img--sm {
    height: 38px;
    max-width: 40%;
}

.pgt-media__img--md {
    height: 38px;
    max-width: 45%;
}

.cert-and-secutity-icon {
    height: 80px;
}

.subscribe--news {
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin: 0;
    width: 100%;
}

.info__desc__news {
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin: 0;
}

.fac-footer-block__box__social {
    display: flex;
    flex-flow: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.social__logo {
    width: 43px;
    max-height: 43px;
}

.fac-footer-block__box__text-about {
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.text-info__body {
    display: flex;
    flex-flow: column;
    gap: 5px;
    margin: 0;
}


/*fac-footer Breakpoint max 299px*/

@media (max-width: 299px) {
    .social__logo {
        width: 20px;
        max-height: 20px;
    }
}


/*fac-footer Breakpoint max 399px*/

@media (max-width: 399px) {
    .box__mult-content__media {
        gap: 5px;
    }
    .pgt-media__img--sm,
    .pgt-media__img--md,
    .pgt-media__img--lg {
        height: 38px;
        max-width: 100%;
    }
}


/*fac-footer Breakpoint max 799px*/

@media (max-width: 799px) {
    .text-info__body {
        gap: 15px;
    }
    .fac-footer-block__box__text-about {
        gap: 20px;
    }
    .fac-footer__text__title {
        font-weight: bold;
    }
}


/*fac-footer Breakpoint min 800*/

@media (min-width: 800px) {
    .fac-footer-block {
        justify-content: center;
        align-items: center;
        flex-flow: nowrap;
        background-color: #e41021;
        border-radius: 10px;
        padding: 30px;
    }
    .fac-footer-block__box {
        max-width: 50%;
        padding: 0;
    }
    .pequeno {
        width: 40%;
        max-width: 455px;
    }
    .grande {
        width: 60%;
        max-width: 596px;
    }
    .fac-footer-block__box--about {
        flex-flow: row;
        align-items: baseline;
        max-width: 100%;
    }
    .text-info__body {
        gap: 10px;
    }
}


/*FAC-header*/

.fac-header {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #FFFFFF;
    font-family: 'Montserrat';
}

.fac-header__top-bar {
    width: 100%;
    background-color: #e41021;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    min-height: 26px;
}

.fac-header__logo-mobile {
    width: 100%;
}


/*fac-header__main-content-desktop*/

.fac-header__main-content-desktop {
    color: #E41021;
    display: none;
}


/*-------Caixa de busca-------*/

.busca legend,
.busca label,
.busca select {
    display: none;
}

.busca {
    display: flex;
    width: 25%;
}

input.fulltext-search-box {
    padding: 10px;
    border: none;
    background: #CAD7E0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
}

.busca input.btn-buscar {
    padding: 10px;
    border: none;
    background: #E41021;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 10%;
    min-width: 40px;
    cursor: pointer;
    color: transparent;
    background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciICB2aWV3Qm94PSIwIDAgNTAgNTAiIHdpZHRoPSI1MHB4IiBoZWlnaHQ9IjUwcHgiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTIxIDRBMTYgMTYgMCAxIDAgMjEgMzZBMTYgMTYgMCAxIDAgMjEgNFoiLz48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNGRkZGRkYiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSI0IiBkPSJNMzIuMjI5IDMyLjIyOUw0NS41IDQ1LjUiLz48L3N2Zz4=");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}


/*Caixa de sugestões*/

.ui-autocomplete {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
    position: fixed;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    width: 25%;
    justify-content: flex-start;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #CAD7E0;
}

.ui-autocomplete:first-child::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 2px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #FFFFFF;
    position: fixed;
    top: 0.1px
}

.ui-menu-item:first-child::before {
    content: "Sugestões";
    position: absolute;
    top: 13px;
    text-align: center;
    color: #E41021;
    font-weight: 600;
    cursor: default;
}

.ui-menu-item:first-child {
    margin-top: 40px;
    border-top: 1px solid #CAD7E0;
}

.ui-autocomplete .ui-menu-item {
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    align-self: flex-start;
    width: 100%;
    border-bottom: 1px solid #CAD7E0;
}

.ui-menu-item:hover {
    background: #E41021;
    color: #FFFFFF;
}

.ui-corner-all {
    display: flex;
    align-items: center;
}

.ui-corner-all img {
    margin-right: 10px;
}

.ui-autocomplete .ui-menu-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/*Fim da caixa de sugestões*/


/*Fim da caixa de busca*/


/*Menu do header-desktop*/

.fac-header__main-content__menu-desktop {
    display: flex;
    height: 40px;
    align-items: center;
    gap: 25px;
}

.fac-header__main-content__menu-desktop__item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.fac-header__main-content__menu-desktop__item__txt-price {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.fac-header__main-content__menu-desktop__item__svg {
    fill: #e42021;
}

.fac-header__main-content__menu-desktop__item__svg:hover {
    fill: #CCCCCC;
}

.fac-header__main-content__menu-desktop__item__login-box,
.fac-header__main-content__menu-desktop__item__gift-list-box {
    display: none;
    flex-flow: column;
    position: absolute;
    top: 70px;
    width: 180px;
    padding: 16px 0 0;
    box-sizing: border-box;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.fac-header__main-content__menu-desktop__login-item:hover .fac-header__main-content__menu-desktop__item__login-box {
    display: flex;
}

.fac-header__main-content__menu-desktop__gift-list-item:hover .fac-header__main-content__menu-desktop__item__gift-list-box {
    display: flex;
}

.fac-header__main-content__menu-desktop__item__login-box__content,
.fac-header__main-content__menu-desktop__item__gift-list-box__content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    width: 100%;
    background: #e41021;
    border-radius: 5px;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #DDDDDD;
    border-top: 0;
}

.fac-header__main-content__menu-desktop__item__login-box__content .fac-header__main-content__menu-desktop__item__login-box__content__button:first-child,
.fac-header__main-content__menu-desktop__item__gift-list-box__content .fac-header__main-content__menu-desktop__item__gift-list-box__content__button:first-child {
    background-color: #058f49;
    width: 90%;
    color: #FFFFFF;
}

.fac-header__main-content__menu-desktop__item__login-box__content .fac-header__main-content__menu-desktop__item__login-box__content__button:first-child:hover,
.fac-header__main-content__menu-desktop__item__gift-list-box__content .fac-header__main-content__menu-desktop__item__gift-list-box__content__button:first-child:hover {
    background-color: #059C50;
}

.fac-header__main-content__menu-desktop__item__login-box__content__button,
.fac-header__main-content__menu-desktop__item__gift-list-box__content__button {
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 13px;
    background-color: #FFFFFF;
    width: 90%;
    color: #000000;
    padding: 5px;
    text-align: center;
}

.fac-header__main-content__menu-desktop__item__login-box__content__button:hover,
.fac-header__main-content__menu-desktop__item__gift-list-box__content__button:hover {
    background-color: #CAD7E0;
    color: #000000;
}

.fac-header__main-content__menu-desktop__item__login-box__up-arrow,
.fac-header__main-content__menu-desktop__item__gift-list-box__up-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #E41021;
}

.fac-header__main-content__menu-desktop__item:hover .fac-header__main-content__menu-desktop__item__svg {
    fill: #63070f;
}

.fac-header__main-content__menu-desktop__item:hover .fac-header__main-content__menu-desktop__item__txt {
    color: #63070f;
}

.fac-header__main-content__menu-desktop__item:hover .fac-header__main-content__menu-desktop__item__txt-price {
    color: #63070f;
}

.fac-header__main-content__menu-desktop__item__txt-price p:last-child {
    font-size: 15px;
}


/*end of fac-header__main-content__menu-desktop*/

/*fac-header breakpoints*/

@media (min-width: 1024px) {
    .fac-header {
        position: fixed;
        top: 0;
        left: 0;
    }
    .fac-header__logo-mobile {
        display: none;
    }
    .fac-header__main-content-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 1023px) {
    .fac-header {
        padding-top: 36px;
    }
    .fac-header__top-bar {
        position: fixed;
        top: 0;
        left: 0;
    }
}

@media (max-width: 499px) {
    .fac-header__top-bar__slide {
        font-size: 11px
    }
}

@media (min-width: 1024px) {
    .fac-header .fac-header__main-content-mobile {
        display: none;
    }
}

@media (max-width: 1099px) {
    .fac-header__main-content__menu-desktop__item__txt,
    .fac-header__main-content__menu-desktop__item__txt-price {
        font-size: 12px;
    }
}



/*---fac-dropdown-menu---*/
.fac-dropdown-menu {
    display: flex;
    flex-flow: row;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
    background: #ffffff;
    box-sizing: border-box;
    min-height: 46px;
    gap: 10px;
    width: 100%;
}

.fac-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

/*fac-dropdown-menu__nav*/
.fac-dropdown-menu__nav {
    display: flex;
    height: 100%;
    align-items: center;
}

.fac-dropdown-menu__nav__iten {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.fac-dropdown-menu__nav__main-btn {
    cursor: pointer;
    color: #63070f;
    display: flex;
    align-items: center;
    gap: 5px;
}

.fac-dropdown-menu__nav__iten__svg,
.fac-dropdown-menu__nav__main-btn__svg {
    fill: #E41021;
}
/*end of fac-dropdown-menu__nav*/

/*fac-dropdown-menu__side-menu*/
#whole-flex {
    position: absolute;
    flex-direction: column;
    text-align: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
}

/* NavBar */
.sidenav {
    max-width: 380px;
    width: 85%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: white;
    transform-origin: left center;
    transform: translateX(-380px);
}

.sidenavHeader {
    color: white;
    font-weight: bold;
    background-color: #E41021;
    padding: 19px 0px 19px 30px;
    font-size: 16px;
}

.sidenavContentHeader {
    margin-top: 5px;
    padding: 15px 0px 15px 25px;
    font-size: 20px;
    font-weight: bold;
    color: #E41021
}

.sidenavContent {
    padding: 15px 0px 15px 25px;
}

.sidenavContent:hover {
    background-color: #eaeded;
}

hr {
    height: 1px;
    border: 0;
    color: gray;
    background-color: gray;
    margin: 15px auto 10px auto;
}

.sidenavRow {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 25px 15px 25px;
}

.sidenavRow:hover {
    background-color: #eaeded;
}

.sidenavRow:hover i {
    color: #111111 !important;
}

#closeBtn {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 390px;
    color: white;
    font-size: 50px;
    cursor: pointer;
    z-index: 75;
    transform: translateY(-5px);
    transition: visibility 0.5s;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* animation */
@keyframes collapse {
    0% {
        z-index: 100;
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-380px);
    }
}

@keyframes expand {
    0% {
        z-index: 100;
        transform: translateX(-380px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Overlay */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Dropdown */
.sidenavContainer hr {
    width: 85%;
}

.sidenavRowDropdown {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    padding: 15px 25px 15px 25px;
    cursor: pointer;
}

.sidenavRowDropdown:hover {
    background-color: #eaeded;
}

.sidenavRowDropdown:hover i {
    color: #111111 !important;
}

.sidenavContainer {
    display: none;
    height: 0px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: center top;
}

@keyframes expandDropDown {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }

    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes collapseDropDown {
    0% {
        transform: scaleY(1);
        opacity: 1;
    }

    100% {
        transform: scaleY(0);
        opacity: 0;
    }
}

/* Container part */
#main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

@keyframes mainAway {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-380px);
    }
}

@keyframes mainBack {
    0% {
        transform: translateX(-380px);
    }

    100% {
        transform: translateX(0px);
    }
}

#sub-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
    transform: translateX(380px);
}

@keyframes subBack {
    0% {
        transform: translateX(380px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes subPush {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(380px);
    }
}

#mainMenu {
    margin-top: 5px;
    padding: 15px 0px 15px 25px;
    font-weight: bold;
}

#mainMenu:hover {
    background-color: #eaeded;
    cursor: pointer;
}
/*end of fac-dropdown-menu__side-menu*/

/*fac-dropdown-menu__desktop-nav*/
.fac-dropdown-menu__desktop-nav {
    display: flex;
    height: 20px;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fac-dropdown-menu__nav__main-btn:hover,
.fac-dropdown-menu__desktop-nav__link:hover {
    color: #e41021;
    font-weight: 600;
}

.fac-dropdown-menu__desktop-nav__link {
    color: #63070f;
    margin: 2px 10px;
}

.fac-dropdown-menu__desktop-nav-all:hover .fac-dropdown-menu__desktop-nav__sub-menu {
    display: inherit;
}

.fac-dropdown-menu__desktop-nav__sub-menu {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    background: #ffffff;
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid #dddddd;
    display: none;
}

.fac-dropdown-menu__desktop-nav__sub-menu__item {
    break-inside: avoid-column;
    page-break-inside: avoid;
    margin-bottom: 20px;
}

.fac-dropdown-menu__desktop-nav__sub-menu__item ul a {
    margin-bottom: 10px;
}

.fac-dropdown-menu__desktop-nav__sub-menu__item-dept p:hover,
.fac-dropdown-menu__desktop-nav__sub-menu__dept__sec__title:hover {
    color: #63070f;
}

.fac-dropdown-menu__desktop-nav__sub-menu__item-dept {
    font-size: 18px;
    font-weight: 600;
    color: #e41021;
    display: flex;
    flex-flow: column;
}

.fac-dropdown-menu__desktop-nav__sub-menu__item-dept p {
    margin-bottom: 15px;
    display: inline-block;
}

.fac-dropdown-menu__desktop-nav__sub-menu__dept__sec {
    display: flex;
    flex-flow: column;
    margin-bottom: 15px;
}

.fac-dropdown-menu__desktop-nav__sub-menu__dept__sec__title {
    color: #E41021;
}

.fac-dropdown-menu__desktop-nav__sub-menu__dept__sec__cat {
    font-size: 14px;
    color: #63070f;
}

.fac-dropdown-menu__desktop-nav__sub-menu__dept__sec__cat:hover {
    color: #E41021;
}

.fac-dropdown-menu__desktop-nav__sub-menu__dept__sec__cat:not(:last-child) {
    margin-bottom: 6px;
}

@media (max-width: 1023px) {
  .fac-dropdown-menu {
    position: fixed;
    bottom: 0px;
    border-top: 1px solid #dddddd;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0 15px;
    background: #ffffff;
    height: 60px;
    box-sizing: border-box;
    }
    
    .fac-dropdown-menu__desktop-nav {
        display: none;
    }
    
    .fac-dropdown-menu__nav {
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }
    
    .fac-dropdown-menu__nav__main-btn {
        flex-flow: column;
    }
    
    .fac-dropdown-menu__nav__main-btn__icon {
        color: #E41021;
    }
    
    .fac-dropdown-menu__nav__main-btn__text {
        display: none;
    }
}


@media (max-width: 1499px) {
    .fac-dropdown-menu__desktop-nav__sub-menu {
        column-count: 4;
    }
}

@media (min-width: 1024px) {
    .fac-dropdown-menu__nav__iten {
        display: none;
    }
}
/*end of fac-dropdown-menu__desktop-nav*/
/*end of fac-dropdown-menu*/