body {
    background-color: #f5f6f8;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 767px) {
    body {
        min-width: 360px;
    }
}

.load,
.loading {
    display: none;
}

main {
    padding-top: 146px;
}

textarea:focus,
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.fac-footer {
    text-decoration: none;
    display: flex;
    flex-flow: wrap;
    text-align: center;
    margin: 30px 10px 0px 10px;
    gap: 30px;
    padding-bottom: 140px;
}

.fac-footer-block {
    display: flex;
    flex-flow: column;
    gap: 30px;
    width: 100%;
}

.fac-footer-block__box {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 15px;
    background-color: #e41021;
    color: #ffffff;
    border-radius: 10px;
    padding: 30px;
}

.fac-footer__text__title {
    margin: 0;
}

.fac-footer-block__box__mult-content {
    display: flex;
    flex-flow: column;
    gap: 10px;
    width: 100%;
}

.subscribe__field {
    border: none;
    padding: 10px 10px;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
}

.subscribe__btn {
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #058f49;
    color: #ffffff;
    width: 100%;
}

.box__mult-content__content {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.box__mult-content__media {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    gap: 5px;
}

.pgt-media__img {
    height: 30px;
    width: auto;
}

.subscribe--news {
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin: 0;
    width: 100%;
}

.info__desc__news {
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin: 0;
}

.fac-footer-block__box__social {
    display: flex;
    flex-flow: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.social__logo {
    width: 43px;
    max-height: 43px;
}

.fac-footer-block__box__text-about {
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.text-info__body {
    display: flex;
    flex-flow: column;
    gap: 5px;
    margin: 0;
}


/*fac-footer Breakpoint max 299px*/

@media (max-width: 299px) {
    .social__logo {
        width: 20px;
        max-height: 20px;
    }
}


/*fac-footer Breakpoint max 399px*/

@media (max-width: 399px) {
    .box__mult-content__media {
        gap: 10px;
    }
}


/*fac-footer Breakpoint max 799px*/

@media (max-width: 799px) {
    .text-info__body {
        gap: 15px;
    }
    .fac-footer-block__box__text-about {
        gap: 20px;
    }
}


/*fac-footer Breakpoint min 800*/

@media (min-width: 800px) {
    .fac-footer-block {
        justify-content: center;
        align-items: center;
        flex-flow: nowrap;
        background-color: #e41021;
        border-radius: 10px;
        padding: 30px;
    }
    .fac-footer-block__box {
        max-width: 50%;
        padding: 0;
    }
    .pequeno {
        width: 40%;
        max-width: 455px;
    }
    .grande {
        width: 60%;
        max-width: 596px;
    }
    .fac-footer-block__box--about {
        flex-flow: row;
        align-items: baseline;
        max-width: 100%;
    }
    .text-info__body {
        gap: 10px;
    }
}


/*FAC-header*/

.fac-header {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #E41021;
    z-index: 99;
}

.fac-header__top-bar {
    background-color: #e41021;
    color: #ffffff;
    padding: 10px;
    width: 100%;
}

.fac-header__top-bar .slick-slide {
    text-align: center;
}

@media (min-width: 1024px) {
    .fac-header__top-bar {
        background-color: #FFFFFF;
        color: #E41201;
    }
}

.fac-header__top-bar__slide {
    font-weight: 700;
}

.fac-header__logo-mobile {
    width: 100%;
}


/*fac-header__main-content-desktop*/

.fac-header__main-content-desktop {
    color: #FFFFFF;
    display: none;
}

@media (max-width: 1023px) {
    .fac-header__main-content-desktop {
        z-index: 1001;
    }
}

/*-------Caixa de busca-------*/

.busca legend,
.busca label,
.busca select {
    display: none;
}

.busca {
    display: flex;
    width: 100%;
}

input.fulltext-search-box {
    padding: 10px;
    border: none;
    background: #FFFFFF;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
}

.busca input.btn-buscar {
    padding: 10px;
    border: none;
    background: #63070F;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 10%;
    min-width: 40px;
    cursor: pointer;
    color: transparent;
    background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciICB2aWV3Qm94PSIwIDAgNTAgNTAiIHdpZHRoPSI1MHB4IiBoZWlnaHQ9IjUwcHgiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTIxIDRBMTYgMTYgMCAxIDAgMjEgMzZBMTYgMTYgMCAxIDAgMjEgNFoiLz48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNGRkZGRkYiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSI0IiBkPSJNMzIuMjI5IDMyLjIyOUw0NS41IDQ1LjUiLz48L3N2Zz4=');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}


/*Caixa de sugestões*/

.ui-autocomplete {
    background: #ffffff;
    position: fixed;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    width: 25%;
    justify-content: flex-start;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #cad7e0;
}

.ui-autocomplete:first-child::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 2px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #ffffff;
    position: fixed;
    top: 0.1px;
}

.ui-menu-item:first-child::before {
    content: 'Sugestões';
    position: absolute;
    top: 13px;
    text-align: center;
    color: #e41021;
    cursor: default;
}

.ui-menu-item:first-child {
    margin-top: 40px;
    border-top: 1px solid #cad7e0;
}

.ui-autocomplete .ui-menu-item {
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    align-self: flex-start;
    width: 100%;
    border-bottom: 1px solid #cad7e0;
}

.ui-menu-item:hover {
    background: #e41021;
    color: #ffffff;
}

.ui-corner-all {
    display: flex;
    align-items: center;
}

.ui-corner-all img {
    margin-right: 10px;
}

.ui-autocomplete .ui-menu-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/*Fim da caixa de sugestões*/


/*Fim da caixa de busca*/


/*Menu do header-desktop*/

.fac-header__main-content__menu-desktop {
    display: flex;
    height: 40px;
    align-items: center;
    gap: 25px;
}

.fac-header__main-content__menu-desktop__item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.fac-header__main-content__menu-desktop__item__txt-price {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.fac-header__main-content__menu-desktop__item__svg {
    fill: #FFFFFF;
}

.fac-header__main-content__menu-desktop__item__svg:hover {
    fill: #cccccc;
}

.fac-header__main-content__menu-desktop__item__login-box,
.fac-header__main-content__menu-desktop__item__gift-list-box {
    display: none;
    flex-flow: column;
    position: absolute;
    top: 70px;
    width: 180px;
    padding: 16px 0 0;
    box-sizing: border-box;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.fac-header__main-content__menu-desktop__login-item:hover .fac-header__main-content__menu-desktop__item__login-box {
    display: flex;
}

.fac-header__main-content__menu-desktop__gift-list-item:hover .fac-header__main-content__menu-desktop__item__gift-list-box {
    display: flex;
}

.fac-header__main-content__menu-desktop__item__login-box__content,
.fac-header__main-content__menu-desktop__item__gift-list-box__content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 5px;
    color: #ffffff;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #dddddd;
    border-top: 0;
}

.fac-header__main-content__menu-desktop__item__login-box__content .fac-header__main-content__menu-desktop__item__login-box__content__button:first-child,
.fac-header__main-content__menu-desktop__item__gift-list-box__content .fac-header__main-content__menu-desktop__item__gift-list-box__content__button:first-child {
    background-color: #058f49;
    width: 90%;
    color: #ffffff;
}

.fac-header__main-content__menu-desktop__item__login-box__content .fac-header__main-content__menu-desktop__item__login-box__content__button:first-child:hover,
.fac-header__main-content__menu-desktop__item__gift-list-box__content .fac-header__main-content__menu-desktop__item__gift-list-box__content__button:first-child:hover {
    background-color: #059c50;
}

.fac-header__main-content__menu-desktop__item__login-box__content__button,
.fac-header__main-content__menu-desktop__item__gift-list-box__content__button {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #E41021;
    width: 90%;
    color: #FFFFFF;
    padding: 5px;
    text-align: center;
}

.fac-header__main-content__menu-desktop__item__login-box__content__button:hover,
.fac-header__main-content__menu-desktop__item__gift-list-box__content__button:hover {
    background-color: #FA2305;
    color: #FFFFFF;
}

.fac-header__main-content__menu-desktop__item__login-box__up-arrow,
.fac-header__main-content__menu-desktop__item__gift-list-box__up-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFFFFF;
}

.fac-header__main-content__menu-desktop__item:hover .fac-header__main-content__menu-desktop__item__svg {
    fill: #63070f;
}

.fac-header__main-content__menu-desktop__item:hover .fac-header__main-content__menu-desktop__item__txt {
    color: #63070f;
}

.fac-header__main-content__menu-desktop__item:hover .fac-header__main-content__menu-desktop__item__txt-price {
    color: #63070f;
}

.smart-cart-qd-v2-wrapper,
.smart-cart-qd-v2-wrapper h3,
.smart-cart-qd-v2-wrapper .qd-ddc-prodPrice,
.smart-cart-qd-v2-wrapper .qd-ddc-infoTotalItems,
.smart-cart-qd-v2-wrapper .qd-ddc-infoTotalValue,
.smart-cart-qd-v2-wrapper .qd-ddc-viewCart {
    font-family: "montserrat", sans-serif !important;
}

.smart-cart-qd-v2-wrapper .progress-bar-text span {
    font-weight: 700 !important;
}


/*end of fac-header__main-content__menu-desktop*/


/*fac-header breakpoints*/

@media (min-width: 1024px) {
    .fac-header {
        position: fixed;
        top: 0;
        left: 0;
    }
    .fac-header__logo-mobile {
        display: none;
    }
    .fac-header__main-content-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 1023px) {
    main {
        padding-top: 0;
    }
    .fac-header {
        padding-top: 36px;
    }
    .fac-header__top-bar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1001;
    }
    .ui-autocomplete {
        width: calc(100% - 20px) !important;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .fac-header__top-bar__slide {
        font-size: 14px;
    }
}

@media (max-width: 499px) {
    .fac-header__top-bar__slide {
        font-size: 12px;
        font-weight: 600;
    }
}

@media (min-width: 1024px) {
    .fac-header .fac-header__main-content-mobile {
        display: none;
    }
}

@media (max-width: 1300px) {
    .fac-header__main-content__menu-desktop__item__txt p,
    .fac-header__main-content__menu-desktop__item__txt-price p {
        font-size: 14px;
    }
}

@media (max-width: 1099px) {
    .fac-header__main-content__menu-desktop__item__txt p,
    .fac-header__main-content__menu-desktop__item__txt-price p {
        font-size: 13px;
    }
}


/*---fac-menu-bar---*/

.fac-menu-bar {
    display: flex;
    flex-flow: row;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    background: #ffffff;
    box-sizing: border-box;
    min-height: 46px;
    gap: 10px;
    width: 100%;
    -webkit-box-shadow: 0px 10px 15px -15px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0px 10px 15px -15px rgba(0,0,0,.75);
    box-shadow: 0px 10px 15px -15px rgb(0 0 0 / 75%);
}

.fac-menu-bar * {
    box-sizing: border-box;
}


/*fac-menu-bar__responsive-dropdown-menu*/

.fac-menu-bar__responsive-dropdown-menu {
    display: flex;
    height: 100%;
    align-items: center;
}

.fac-menu-bar__responsive-dropdown-menu__iten {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.fac-menu-bar__responsive-dropdown-menu__main-btn {
    cursor: pointer;
    color: #63070f;
    display: flex;
    align-items: center;
    gap: 5px;
}

.fac-menu-bar__responsive-dropdown-menu__iten__svg,
.fac-menu-bar__responsive-dropdown-menu__main-btn__svg {
    fill: #e41021;
}


/*end of fac-menu-bar__responsive-dropdown-menu*/


/*fac-menu-bar__side-menu*/

#whole-flex {
    position: absolute;
    flex-direction: column;
    text-align: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
}


/* NavBar */

.sidenav {
    max-width: 380px;
    width: 85%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: white;
    transform-origin: left center;
    transform: translateX(-380px);
}

.sidenavHeader {
    color: white;
    background-color: #e41021;
    padding: 19px 0px 19px 30px;
    font-weight: 700;
}

.sidenavContentHeader {
    margin-top: 5px;
    padding: 15px 0px 15px 25px;
    color: #e41021;
    font-weight: 700;
}

.sidenavContent {
    padding: 15px 0px 15px 25px;
}

.sidenavContent:hover {
    background-color: #eaeded;
}

hr {
    height: 1px;
    border: 0;
    color: gray;
    background-color: gray;
    margin: 15px auto 10px auto;
}

.sidenavRow {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 25px 15px 25px;
}

.sidenavRow:hover {
    background-color: #eaeded;
}

.sidenavRow:hover i {
    color: #111111 !important;
}

#closeBtn {
    display: none;
    position: absolute;
    top: 10px;
    left: 0;
    margin-left: 390px;
    color: white;
    cursor: pointer;
    z-index: 75;
    transform: translateY(-5px);
    transition: visibility 0.5s;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


/* animation */

@keyframes collapse {
    0% {
        z-index: 100;
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-380px);
    }
}

@keyframes expand {
    0% {
        z-index: 100;
        transform: translateX(-380px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* Overlay */

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.7);
}


/* Dropdown */

.sidenavContainer hr {
    width: 85%;
}

.sidenavRowDropdown {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    padding: 15px 25px 15px 25px;
    cursor: pointer;
}

.sidenavRowDropdown:hover {
    background-color: #eaeded;
}

.sidenavRowDropdown:hover i {
    color: #111111 !important;
}

.sidenavContainer {
    display: none;
    height: 0px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: center top;
}

@keyframes expandDropDown {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes collapseDropDown {
    0% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        transform: scaleY(0);
        opacity: 0;
    }
}


/* Container part */

#main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

@keyframes mainAway {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-380px);
    }
}

@keyframes mainBack {
    0% {
        transform: translateX(-380px);
    }
    100% {
        transform: translateX(0px);
    }
}

#sub-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
    transform: translateX(380px);
}

@keyframes subBack {
    0% {
        transform: translateX(380px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes subPush {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(380px);
    }
}

#mainMenu {
    margin-top: 5px;
    padding: 15px 0px 15px 25px;
    color: #E41021;
    font-weight: 700;
}

#mainMenu:hover {
    background-color: #eaeded;
    cursor: pointer;
}


/*end of fac-menu-bar__side-menu*/


/*fac-menu-bar__desktop-nav*/

.fac-menu-bar__desktop-nav {
    display: flex;
    height: 20px;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fac-menu-bar__responsive-dropdown-menu__main-btn:hover,
.fac-menu-bar__desktop-nav__link:hover {
    color: #e41021;
    font-weight: 600;
}

.fac-menu-bar__desktop-nav__link {
    color: #63070f;
    margin: 2px 10px;
}

.fac-menu-bar__desktop-nav__link--first:hover .fac-menu-bar__desktop-nav__sub-menu {
    display: inherit;
}

.fac-menu-bar__desktop-nav__sub-menu {
    box-sizing: border-box;
    position: absolute;
    left: 100px;
    background: #ffffff;
    width: 70%;
    padding: 20px;
    border-bottom: 2px solid #dddddd;
    display: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.fac-menu-bar__desktop-nav__sub-menu__item {
    break-inside: avoid-column;
    page-break-inside: avoid;
    margin-bottom: 20px;
}

.fac-menu-bar__desktop-nav__sub-menu__item ul a {
    margin-bottom: 10px;
}

.fac-menu-bar__desktop-nav__sub-menu__item-dept p:hover,
.fac-menu-bar__desktop-nav__sub-menu__dept__sec__title:hover {
    color: #63070f;
}

.fac-menu-bar__desktop-nav__sub-menu__item-dept {
    color: #e41021;
    display: flex;
    flex-flow: column;
}

.fac-menu-bar__desktop-nav__sub-menu__item-dept p {
    margin-bottom: 15px;
    display: inline-block;
}

.fac-menu-bar__desktop-nav__sub-menu__dept__sec {
    display: flex;
    flex-flow: column;
    margin-bottom: 15px;
}

.fac-menu-bar__desktop-nav__sub-menu__dept__sec__title {
    color: #e41021;
}

.fac-menu-bar__desktop-nav__sub-menu__dept__sec__cat {
    color: #63070f;
}

.fac-menu-bar__desktop-nav__sub-menu__dept__sec__cat:hover {
    color: #e41021;
}

.fac-menu-bar__desktop-nav__sub-menu__dept__sec__cat:not(:last-child) {
    margin-bottom: 6px;
}

@media (max-width: 1023px) {
    .fac-menu-bar {
        position: fixed;
        bottom: 0px;
        border-top: 1px solid #dddddd;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 10px 0 15px;
        background: #ffffff;
        height: 60px;
        box-sizing: border-box;
        z-index: 1001;
    }
    .fac-menu-bar__desktop-nav {
        display: none;
    }
    .fac-menu-bar__responsive-dropdown-menu {
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }
    .fac-menu-bar__responsive-dropdown-menu__main-btn {
        flex-flow: column;
    }
    .fac-menu-bar__responsive-dropdown-menu__main-btn__icon {
        color: #e41021;
    }
    .fac-menu-bar__responsive-dropdown-menu__main-btn__text {
        display: none;
    }
}

.fac-menu-bar__responsive-dropdown-menu__main-btn__text {
    color: #E41021;
    font-weight: 600;
}

@media (max-width: 1499px) {
    .fac-menu-bar__desktop-nav__sub-menu {
        column-count: 4;
    }
}

@media (min-width: 1024px) {
    .fac-menu-bar__responsive-dropdown-menu__iten {
        display: none;
    }
}


/*end of fac-menu-bar__desktop-nav*/

.busca-mobile__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    z-index: -1;
}

.fac-header__main-content-desktop__search {
    display: flex;
    flex-flow: column;
    width: 25%
}


/*end of fac-menu-bar*/

.fac-full-width-slick-banners .box-banner a img {
    width: 100%;
    height: auto;
}


/* .fac-full-width-slick-banners {
    display: none;
} */

.fac-full-width-slick-banners__prev-arrow {
    position: absolute;
    top: calc(50% - 30px);
    z-index: 2;
    background: rgba(255, 255, 255, .45);
    border: 1px solid #E41021;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.fac-full-width-slick-banners__prev-arrow__svg {
    width: 70%;
    height: 70%;
}

.fac-full-width-slick-banners__next-arrow {
    position: absolute;
    top: calc(50% - 30px);
    right: 0;
    background: rgba(255, 255, 255, .45);
    border: 1px solid #E41021;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.fac-full-width-slick-banners__next-arrow__svg {
    width: 70%;
    height: 70%;
}

.fac-full-width-slick-banners__dots-container {
    display: inline-flex;
    gap: 5px;
    justify-content: center;
    height: 10px;
    position: relative;
    bottom: 10px;
    width: 100%;
}

.fac-full-width-slick-banners__dots-container li {
    height: 60%;
}

.fac-full-width-slick-banners__dots-container li button {
    color: transparent;
    height: 100%;
    border: 1px solid #E41021;
    background: #E41021;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    bottom: 10px;
    width: 25px;
}

.fac-full-width-slick-banners__dots-container .slick-active button {
    background-color: #CCCC;
    border: 1px solid #E41021;
}


/*---*/

.fac-kzt-general-shelf h2 {
    display: none;
}

.fac-product {
    position: relative;
    margin: 0 10px;
    max-width: 395px;
    border: 1px solid transparent;
    min-height: 400px;
    background-color: #ffffff;
    border-radius: 10px;
}

.fac-product__content {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.fac-product .fac-product__content__image {
    margin-bottom: 12px;
    padding-top: 20px;
}

.flag {
    position: absolute;
    z-index: 10;
    background-color: #e41021;
    padding: 3px 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
}

.qd-sss-wishlist-button__svg__path {
    fill: #CCCCCC;
}

.fac-product .fac-product__content__image figure {
    margin: 0 20px;
    position: relative;
    text-align: center;
}


/*
.fac-product .fac-product__content__image figure img {
    margin: 0 auto;
} */

.fac-kzt-general-shelf .slick-track {
    display: flex;
    /* gap: 20px; */
}

.shelf figure a {
    display: flex;
    justify-content: center;
    align-content: center;
}

.shelf img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.qd-sss-wishlist-delete-button {
    fill: #e41021;
}

.fac-product a.btn-like.js-btn-like,
.qd-sss-wishlist-delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
}

.fac-product .fac-product__content__info {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.fac-product .fac-product__content__info__head {
    padding-bottom: 15px;
    min-height: 54px;
}

.fac-product .fac-product__content__info__head h4 {
    text-align: center;
    min-height: 38px;
}

.fac-product__content__info__head h4 a {
    color: #E41021;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 64px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-weight: 500;
}

.fac-product .fac-product__content__info__price {
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    flex-flow: column;
    gap: 6px;
    min-height: 70px;
    justify-content: flex-end;
}

.fac-product__content__info__price__from {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5px;
    font-weight: 500;
    font-size: 14px;
}

.fac-product__content__info__price__from__txt {
    color: #3B0409;
}

.fac-product__content__info__price__from__price {
    color: #E41021;
}

.fac-product__content__info__price__sale-price {
    color: #058f49;
    font-weight: 600;
    font-size: 17px;
}

.fac-product__content__info__price__installment {
    color: #3B0409;
    font-weight: 500;
    font-size: 13px;
}

.fac-product .fac-product__actions {
    text-align: center;
    /* transition: 0.3s;
    display: grid;
    align-content: end;
    height: 100%; */
}

.fac-product .fac-product__actions__content {
    /* position: relative; */
    margin-bottom: 20px;
}

a.fac-product__actions__content__btn {
    display: inline-block;
    width: 100%;
    background: #058f49;
    color: #fff;
    padding: 3px 0;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid transparent;
}

.fac-product__actions__content__btn span {
    font-weight: 500;
}

@media (max-width: 1749px) {
    .fac-product .flag {
        font-size: 13px;
    }
    .fac-product .fac-product__content__info__head h4 a {
        font-size: 15px;
        -webkit-line-clamp: 3
    }
    .fac-product .fac-product__content__info__price__from {
        font-size: 13px;
    }
    .fac-product .fac-product__content__info__price__sale-price {
        font-size: 16px;
    }
    .fac-product .fac-product__content__info__price__installment {
        font-size: 12px;
    }
}

@media (max-width: 1199px) {
    .fac-product .fac-product__content__info__head {
        min-height: 65px;
    }
    .fac-product .fac-product__content__info__head h4 a {
        -webkit-line-clamp: 4
    }
}

@media (max-width: 450px) {
    /* .fac-first-shelf {
        margin: 0;
    } */
    .fac-product {
        min-height: 0;
    }
    .fac-product .fac-product__content__info__head h4 a {
        font-size: 13px;
    }
    .fac-product .fac-product__content__info__price__from {
        font-size: 12px;
    }
    .fac-product__actions__content__btn span {
        font-size: 14px;
    }
}

.fac-shell {
    max-width: 100%;
    margin: 0 10px 30px;
}

.shelf-title {
    border-bottom: 2px solid #CCCCCC;
    padding: 8px 0 8px 10px;
    margin: 0 0 10px;
    color: #E41021;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.123em;
}

.fac-video-and-banners-single-row-group {
    display: flex;
    height: 300px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
}

.fac-video-and-banners-single-row-group .box-banner:last-child img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 874px) {
    .fac-video-and-banners-single-row-group .box-banner:last-child {
        display: none;
    }
}

@media (max-width: 873px) {
    .fac-video-and-banners-single-row-group {
        height: 448px;
    }

    .fac-video-and-banners-single-row-group .box-banner:not(:last-child) {
        display: none;
    }
}

@media (max-width: 1499px) {
    .fac-mult-banner-single-row .box-banner:last-child {
        display: none;
    }
}

@media (max-width: 899px) {
    .fac-mult-banner-single-row .box-banner:not(:first-child) {
        display: none;
    }     
}

.fac-video-and-banners-single-row-group img {
    border-radius: 5px;
}

.fac-mult-banner-single-row {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
}

.fac-mult-banner-single-row .box-banner img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

@media (max-width: 1023px) {
    .fac-hidden-on-all-mobile {
        display: none;
    }
}

@media (min-width: 1024px) {
    .fac-hidden-on-all-desktop {
        display: none;
    }
}

.bread-crumb {
    font-size: 14px;
    margin: 15px 0;
    padding: 0 0 0 20px;
}

.bread-crumb ul {
    display: flex;
    gap: 5px;
}

.bread-crumb li {
    font-weight: 500;
    color: #CCCCCC;
}

.bread-crumb li::after {
    content: " >";
}

.bread-crumb li.last {
    color: #666;
}

.fac-kzt-general-product-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.fac-kzt-general-product-list__nav {
    margin-right: 10px;
    max-width: 350px;
}

.fac-kzt-general-product-list__nav .navigation-tabs {
    border-radius: 5px;
    padding: 1px 10px 20px;
    background-color: #FFFFFF;
}

.fac-kzt-general-product-list__nav .menu-navegue {
    display: none;
}

.fac-kzt-general-product-list__nav .search-multiple-navigator {
    display: none;
}

.fac-kzt-general-product-list__nav .search-single-navigator {
    display: flex;
    flex-flow: column;
    color: #666;
}

.fac-kzt-general-product-list__nav .search-single-navigator h3 {
    display: none;
}

.fac-kzt-general-product-list__nav .search-single-navigator h3, .fac-kzt-general-product-list__nav .search-single-navigator h4, .fac-kzt-general-product-list__nav .search-single-navigator h5 {
    font-weight: 600;
    margin: 20px 0 10px;
    color: #E41021;
}

.fac-kzt-general-product-list__nav .search-single-navigator ul li {
    margin: 10px 0 0;
    font-size: 13px;
}

.fac-kzt-general-product-list__products {
    width: 80%;
    padding: 7px 0 0;
}

.fac-kzt-general-product-list__products .searchResultsTime {
    margin: 0 0 20px;
}

.fac-kzt-general-product-list__products .resultado-busca-numero {
    padding: 5px;
    border-radius: 5px;
    background: #FFFFFF;
    box-sizing: border-box;
}

.fac-kzt-general-product-list__products .searchResultsTime * {
    color: #E41021;
    font-weight: 500;
}

.fac-kzt-general-product-list__products .resultado-busca-termo {
    display: none;
}

.fac-kzt-general-product-list__products .resultado-busca-tempo {
    display: none;
}

.fac-kzt-general-product-list__products .sub {
    margin: 0 0 20px;
}

.fac-kzt-general-product-list__products .resultado-busca-filtro {
    display: flex;
    gap: 0;
}

.orderBy {
    padding: 5px;
    background: #FFFFFF;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.orderBy select, .filterBy select {
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

.filterBy {
    padding: 5px;
    background: #FFFFFF;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.compare {
    display: none;
}

.pager {
    display: none;
}

.fac-kzt-general-product-list .fac-kzt-general-shelf ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    vertical-align: middle;
}

.fac-kzt-general-product-list__products .fac-product {
    margin: 0;
}







.main div:nth-of-type(3) {
    display: none;
}

.main .searchResultsTime:nth-of-type(2) {
    display: none;
}

.bread-crumb li.last::after {
    content: " ";
}

.shelf ul li img+img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
}