.diferenciais {
    background-color: #e41021;
}

.header .mini-cart span.mini-cart-qty-admake {
    right: -9px;
}

.fac-menu-mobile {
    background-color: white;
    position: relative;
    margin: 0 0 15px;
  }
  
  .fac-menu-mobile .slider__slides {
    padding-left: 34px;
  }
  
  .fac-menu-mobile > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-overflow-scrolling: touch;
    justify-content: space-between;
    overflow-x: auto;
    padding: 16px 0;
    background-color: white;
    scrollbar-color: #e41021 #e5e5e5;
    scrollbar-width: thin;
  }
  
  .fac-menu-mobile > div::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .fac-menu-mobile > div::-webkit-scrollbar-track {
    background: #e5e5e5;
    border-radius: 100px;
  }
  
  .fac-menu-mobile > div::-webkit-scrollbar-thumb {
    background: #e41021;
    border-radius: 100px;
  }
  
  .fac-menu-mobile > div .box-banner {
    min-width: 114px;
  }
  
  .fac-menu-mobile > div .box-banner:not(:last-child) {
    margin-right: 20px;
  }

  .section header.section__head h2 {
    color: #e41021;
    font-weight: 600;
  }

  @media (max-width: 1023px) {
    .header .header__body-inner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 0;
      }

      .slider-intro-mobile .slider__dots {
        margin-bottom: -35px;
      }

      .slider-intro-mobile .slick-dots button {
        height: 5px;
      }
    
      .section,
      .section--sales {
        padding: 0px 0px;
      }

      .section.section--sales--featured {
        margin-top: 15px;
      }

      .section.section--sales--vistos {
        margin-top: 0px;
      }
  }